.action.gradient
	.container
		.row
			.col-xs-6
				h2.action__title
					| Только до 31 декабря 2016! 
				p.action__slogan
					| При заключении договора на комплексное обслуживание — 
					b
						| скидка 50%
					|  на первые 3 месяца обслуживания!
			.col-xs-6
				a.btn-sonne.btn-sonne-lg.action__btn.fancy(href="#call")
					| получить скидку 50%
