.copy
	.container
		.row
			.col-xs-12
				| *Перечень услуг и установленные цены не являются окончательными. Стоимость обслуживания определяется индивидуально исходя из количества приходных и расходных операций в месяц. Окончательная цена корректируется в зависимости от вида и специфики деятельности организации, ее оборотов и особенностей учета. Увеличивать стоимость могут такие факторы, как применение ККМ, совмещение ЕНВД и ОСНО, расхождение между налоговым и бухгалтерским учетом и прочее.
