header.header
	.container
		.row
			.col-xs-5
				.header__col
					.header__info
						img.header__logo(src="images/logo.png", alt="ИК")
						.header__text
							.header__title
								| Каргапольцева Ирина Анатольевна
							.header__slogan
								| Частный бухгалтер с 20-летним стажем
			.col-xs-7
				.header__col.header__col--end
					ul.header__contacts.contacts
						li.contacts__item.contacts__item--icon.contacts__item--phone
							| 8-913-576-30-83
						li.contacts__item.contacts__item--icon.contacts__item--email
							| 2427455@mail.ru
						li.contacts__item
							a.btn-sonne.fancy(href="#call")
								| Заказать обратный звонок

