.main
	.container
		.row
			.col-xs-12
				h2.main__title
					span.selected
						| Бухгалтерское обслуживание бизнеса
					span.selected.selected--margin
						span.text-orange
							| в Красноярске
						|  от 3000/месяц
					span.selected
						| Нулевая отчетность от 1000 рублей
				a.btn-sonne.btn-sonne-md.main__btn.fancy(href="#call")
					| заказать Обратный звонок