.owner
	.container
		.row
			.col-xs-12
				h2.owner__title
					| Владелец малого бизнеса
				.owner__subtitle
					| Где обслуживать бизнес?
				.divider.owner__divider-1
			.col-xs-3
				.owner__list
					.owner__list-title
						| Крупная бухгалтерская компания
					ul.list-no
						li
							| Дорого
						li
							| Не всегда качественно
						li
							| Потоковое обслуживание
						li
							| Текучка кадров


			.col-xs-6
				.owner__pr
					.owner__arr.owner__arr--left.i-arr-left
					.owner__arr.owner__arr--right.i-arr-right
					.owner__arr.owner__arr--bottom.i-arr-bottom
					.owner__pr-title
						| Частный бухгалтер
					img(src="images/owner-pr.png", alt="???", width="436", height="299")
			.col-xs-3
				.owner__list.owner__list--right
					.owner__list-title
						| Штатный бухгалтер
					ul.list-no
						li
							| Дорого
						li
							| Обучение занимает время
						li
							| Требуется доп. рабочее место, условия труда, социальный пакет
			.col-xs-12
				.owner__items
					.owner__col
						.owner__item.owner__item--400.aubergine 
							.owner__item-title
								| Экономия на услугах 50%
							.owner__item-desc
								| Вы работаете напрямую со специалистом. Не нужно тратить деньги на содержание штатного бухгалтера (з/п, налоги, отпускные), покупку и обслуживание оргтехники и лицензионных программ, обучение бухгалтера.
						.owner__item.owner__item--400.scarlet
							.owner__item-title
								| Ваш бизнес в приоритете 
							.owner__item-desc
								| Вы постоянно работаете с одним и тем же специалистом, который знает все нюансы бухгалтерии вашего бизнеса.
					.owner__col.owner__col--middle
						.owner__item.owner__item--430.scarlet
							.owner__item-title
								| Профессионально
							.owner__item-desc
								| Ваш бизнес обслуживает бухгалтер с 20-летним опытом работы, 15 лет занимавший руководящие позиции.
						.owner__item.owner__item--430.aubergine
							.owner__item-title.owner__item-title--no-margin
								| Конфиденциально
					.owner__col
						.owner__item.owner__item--400.aubergine
							.owner__item-title
								| Надежно
							.owner__item-desc
								| Вопросы, как, когда платить налоги, какие документы оформлять для разных хозяйственных операций, вы делегируете специалисту. И не тратите на это свое время и нервы. 
						.owner__item.owner__item--400.scarlet
							.owner__item-title
								| Удобно
							.owner__item-desc
								| Быстрая работа через электронные сервисы. На связи круглый год, даже в выходные и праздники.
			.col-xs-12
				a.btn-sonne.btn-sonne-md.owner__btn.fancy(href="#call")
					| заказать Обратный звонок