.personal
	.container
		.row
			.col-xs-12
				h2.personal__title
					| Ваш персональный бухгалтер
				.divider.personal__divider-1
			.col-xs-4
				.personal__pr
					img(src="images/personal-pr.jpg", alt="Каргапольцева Ирина Анатольевна", width="330", height="325")
			.col-xs-8
				.personal__list
					.personal__list-title
						| Каргапольцева Ирина Анатольевна
					ul.list.personal__list-container
						li
							| Высшее экономическое образование (Красноярский торгово-экономический институт (СФУ), специальность «бухгалтерский учет и аудит», 1994-1998 г.г.); 
						li
							| Высшее юридическое образование (Красноярский государственный университет (СФУ), юридический факультет, специальность «юрисконсульт»,  1998-2002 г.г.);
						li
							| Опыт работы в сфере бухгалтерских услуг: более 20 лет;
						li
							| Главный бухгалтер и аудитор в ООО «ФП «Центр-Аудит» 1995-2002 г.г., Главный бухгалтер в крупной оптовой компании ООО «Колтон плюс», 2002- 2005 г.г.,;
						li
							| Главный бухгалтер в спортивно-развлекательный центр «КУБ»,  ресторан «ИКСЫ» 2005-2015 г.г.;
						li
							| Директор ООО «АК «СбЭксперт», с 2015 г. по настоящий момент.
			.col-xs-12
				.gradient.personal__comment-border
					.personal__comment
						.personal__comment-inner
							| Адекватные цены на услуги, ответственное выполнение взятых обязательств по работе. За 3 года сотрудничества с Ириной Анатольевной ни разу не возникло разногласий по рабочим вопросам, налоговая отчетность сдается всегда вовремя, нареканий со стороны НИ не было. Рекомендую как высококвалифицированного, грамотного и ответственного специалиста.
				.personal__name
					| Стародаева Юлия Валерьевна
				.personal__slogan
					| Директор салона красоты и фитнес-центра «ЭКЗОТИКА»
				a.personal__btn.btn-sonne.btn-sonne-md.fancy(href="#call")
					| Перезвоните мне