.price
	.container
		.row
			.col-xs-12
				h2.price__title
					| Частный бухгалтер: услуги и цены
					span.text-gray
						| *
			.col-xs-6
				.price__item
					.price__item-price.gradient
						| от 
						span.price__item-count
							| 2000 
						span.rubl
					.price__item-title
						| Регистрация нового бизнеса 
					ul.list
						li
							| регистрация нового ООО, ИП 
						li
							| составление документов для внесения изменений в ЕГРЮЛ 
						li
							| сопровождение в регистрирующем органе
						li
							| от 2000 рублей 
						li
							| при заключении договора на комплексное бухгалтерское обслуживание нового бизнеса – регистрация 
							b.text-uppercase
								| бесплатно;
				.price__item
					.price__item-price.gradient
						| от 
						span.price__item-count
							| 1000 
						span.rubl
					.price__item-title
						| Консультация по налогообложению 
					ul.list
						li
							| помощь в выборе системы налогообложения
							br
							| создаваемых организаций и ИП
						li
							| оптимизация налогообложения уже созданных организаций и ИП: выбор упрощенной системы налогообложения, освобождение от НДС и другое 
						li
							| составление индивидуального налогового календаря 
						li
							| подтверждение основного вида экономической деятельности
				.price__item.price__item--tax
					.gradient.price__item-price.price__item-price--tax-1
						| от 
						span.price__item-count
							| 3000 
						span.rubl
						.price__item-price-title.price__item-price-title--tax-1
							| в квартал
					.gradient.price__item-price.price__item-price--tax-2
						| от 
						span.price__item-count
							| 3000 
						span.rubl
						.price__item-price-title.price__item-price-title--tax-2
							| за комплект, лично
					.gradient.price__item-price.price__item-price--tax-3
						span.price__item-count
							| 1000 
						span.rubl
						.price__item-price-title.price__item-price-title--tax-3
							| за 1 инстанцию
					.price__item-title
						| Налоговая отчетность 
					ul.list
						li
							| Подготовка и сдача налоговой отчетности в налоговые инспекции, фонд социального страхования, пенсионный фонд, статистику по телекоммуникационным каналам связи (интернету)
						li
							| Подготовка и сдача налоговой отчетности в налоговые инспекции, фонд социального страхования, пенсионный фонд, статистику по почте 
							b
								| (включая услуги почты)
				.price__item
					.gradient.price__item-price
						| от 
						span.price__item-count
							| 1500 
						span.rubl
					.price__item-title
						| Регистрация трудовых договоров  
					ul.list
						li
							| Первичная регистрация трудовых договоров по наемным работникам ИП в фонде социального страхования и пенсионном фонде
				.price__item
					.gradient.price__item-price
						| от 
						span.price__item-count
							| 3000 
						span.rubl
					.price__item-title
						| Подготовка документов для
						br
						| получения кредитов 
				.price__item
					.gradient.price__item-price
						| от 
						span.price__item-count
							| 3000 
						span.rubl
					.price__item-title
						| Персонифицированный учет 
			.col-xs-6
				.price__item
					.gradient.price__item-price
						| от 
						span.price__item-count
							| 5000
						span.rubl
					.price__item-title
						| Комплексное бухгалтерское
						br
						| обслуживание
				.price__item
					.gradient.price__item-price
						| от 
						span.price__item-count
							| 5000
						span.rubl
					.price__item-title
						| Бухгалтерский учет в 1С 
					ul.list
						li
							| составление уточненных деклараций
						li
							| восстановление отчетности
						li
							| постановка бухгалтерского учета на базе программы 1С 
						li
							| восстановление бухгалтерского учета на базе 1С
						li
							| проверка бухгалтерского учета
				.price__item
					.gradient.price__item-price
						| от 
						span.price__item-count
							| 1000
						span.rubl
					.price__item-title
						| Подготовка и обработка
						br
						| первичных документов 
					.price__item-flex
						ul.list.price__item-flex-col
							li
								| накладные
							li
								| счета-фактуры
							li
								| платежные поручения
						ul.list.price__item-flex-col
							li
								| кассовые документы 
							li
								| авансовые отчеты
							li
								| и т.д. 
				.price__item
					.gradient.price__item-price.price__item-price--tax-4
						span.price__item-count
							| 5000
						span.rubl
						.price__item-price-title
							| за 1 инстанцию
					.price__item-title
						| Получение актов сверки
						br
						| расчетов с бюджетом в налоговых
						br
						| инспекциях и фондах
				.price__item
					.gradient.price__item-price.price__item-price--tax-5
						| от 
						span.price__item-count
							| 2000
						span.rubl
					.gradient.price__item-price.price__item-price--tax-6
						| от 
						span.price__item-count
							| 1000
						span.rubl
					.gradient.price__item-price.price__item-price--tax-7
						| от 
						span.price__item-count
							| 3000
						span.rubl
					.price__item-title
						| Кадровый учет 
					ul.list
						li
							| Постановка кадрового учета 
						li
							| Ведение кадрового учета
						li
							| Восстановление кадрового учета 
				.price__item
					.gradient.price__item-price
						| от 
						span.price__item-count
							| 2000
						span.rubl
					.price__item-title
						| Расчет пособий по беременности
						br
						| и родам, больничных
					ul.list.price__item-list--tax-8
						li
							| А также защита у ревизоров в фонде социального страхования для возмещения денежных средств на расчетный счет организации или ИП
				.price__item
					.gradient.price__item-price
						| от 
						span.price__item-count
							| 1000
						span.rubl
					.price__item-title
						| Нулевая отчетность 	
					ul.list.price__item-list--tax-8
						li
							| Оформление налоговых деклараций и сдача нулевой отчетности.

